@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    var userName = User.Identity?.Name?.Split('@')[0]; //que traiga el nombre de usuario sin el correo 

    <li class="nav-item">
        <a class="nav-link text-white titulo2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Bienvenido @userName!</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-white titulo2">Cerrar Sesión</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-white titulo1" asp-area="Identity" asp-page="/Account/Register">Registrarse</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white titulo1" asp-area="Identity" asp-page="/Account/Login">Iniciar Sesión</a>
    </li>
}
</ul>


