@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/home.css">
</head>
<div class="text-center">
    <h1 class="titulo"> Aplicativo ProEjercicios</h1>
    <br>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
<div class="text-center descripcion">
    <p>Bienvenido a nuestra plataforma de gestión de ejercicios, donde puedes cargar, editar y eliminar tus datos de entrenamiento de manera fácil y rápida. Nuestra plataforma te permite llevar un registro detallado de las actividades físicas que realizas, brindándote un seguimiento completo de tus progresos y logros.</p>
</div>
<br>
<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
      <div class="card car1 mt-5" style="width: 25rem;">
  <img src="~/img/img1.jpg" class="card-img-top" alt="...">
</div>

    </div>
    <div class="col">
     <div class="card car1 mt-5" style="width: 25rem;">
  <img src="~/img/img2.jpg" class="card-img-top" alt="...">
</div>

    </div>
    <div class="col">
      <div class="card car1 mt-5" style="width: 25rem;">
  <img src="~/img/img3.png" class="card-img-top" alt="...">
</div>

    </div>
  </div>
</div>

